<!doctype html>
<html lang="en">
  <head>
    <title>Coast Capital Expense Claims System</title>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/select2.min.js"></script>
    <script src="/javascripts/main.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/img/icons/favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/fontawesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login/main.css"> <!-- load custom styles -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/login/util.css"> <!-- load custom styles --> 

  </head>	
  <body>
    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
          <form action="/login" method="post" class="login100-form validate-form">
            <span class="login100-form-title p-b-35">
              <img src="/assets/img/vertical-logo.png" height="200">
              <br>
            </span>
            <span class="login100-form-title p-b-15">Expense Claims System</span>
            <span class="login100-form-subtitle p-b-35">Expense Claim Forms, Simplified</span>

            <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
              <input class="input100" type="email" placeholder="Email" class="form-control" id="login-email" name="email" required>
              <span class="symbol-input100">
                <span class="lnr lnr-envelope"></span>
              </span>
            </div>
  
            <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
              <input class="input100" type="password" placeholder="Password" class="form-control" id="login-password" name="password" required>
              <span class="symbol-input100">
                <span class="lnr lnr-lock"></span>
              </span>
            </div>
            <% if (message.length > 0) { %>
              <div class="wrap-input100 alert alert-danger"><%= message %></div>
            <% } %>
            <div class="container-login100-form-btn p-t-25">
              <button class="login100-form-btn" type="submit">
                Login
              </button>
            </div>
          </form>
          <span class="login100-text">Version 0.2.7</span>
        </div>
      </div>
    </div>
  </body>
</html>