<!doctype html>
<html lang="en">
  <head>
    <title>Coast Capital Expense Claims System</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese">
    <link rel="stylesheet" href="/stylesheets/index.css"> <!-- load custom styles -->
    <link rel="stylesheet" href="/stylesheets/style.css"> <!-- load custom styles-->    
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/react-select/dist/react-select.css">
  </head>
  <body>
    <div class="container">
      <img src="https://www.uvic.ca/innovation/assets/images/graphics/logos/coastlogo.PNG"/>
      <span class="header">Expense Claims System</span>
      <div class="subheader">
        <h2>Expense Claim Forms, Simplified.</h2>
        <p>Login to get started!</p>
      </div>
      <div class="login-container">
        
        <!-- LOGIN FORM -->
        <form action="/login" method="post">
          <div class="form-group">
            <input type="email" placeholder="username@coastcapital.com" class="form-control" id="login-email" name="email" required>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Enter your password" class="form-control" id="login-password" name="password" required>
          </div>
          <div class="form-group">
            <div>
              <label>Remember Me <input type="checkbox" name="remember" value="yes" style="margin-left: 10px"></label>
            </div>
          </div>

          <!-- show any messages that come back with authentication -->
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <div class="form-group" style="height: 37px">
            <button class="page-button-green" type="submit">Login</button>
          </div>
        </form>
        <hr/>
      </div>
    </div>
  </body>
</html>