@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#root > div > div > div {
  height:100%;
}

html, body, #root, p {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  color: #636c6e;
}

a {
  color: #00B7FF;
}

body > #root > div {
  height: 100vh;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.pointer {
  cursor: pointer !important;
}

.no-select {
  cursor: default !important;
  user-select: none !important;
  -webkit-user-select: none !important;  
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  margin: 40px 0;
}

i, span {
  display: inline-block;
}
/* ---------------------------------------------------
PROFILE PAGE STYLE
----------------------------------------------------- */
.user-row {
  margin-bottom: 14px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
.toppad
{margin-top:20px;
}

.profile-container {
  margin: 30px;
}

.profile-button {
  background-color: #167ebb;
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 8px;
  text-decoration: none;
  margin: 0px 3px;
}
/* ---------------------------------------------------
END OF PROFILE PAGE
----------------------------------------------------- */
/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: white;
  color: grey;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #0067C6;
}

#sidebar.active .sidebar-header h3, #sidebar.active {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 10px;
}

#sidebar ul li a {
  text-align: left;
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right:  0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  margin: 5px;
  display: block;
  border-radius: 5px;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #0067C6;
}
#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li > a.active, a[aria-current="true"] {
  color: #fff;
  background-color: #0067C6;
}

/* END SIDEBAR STYLE */

.page-header {
  padding: 30px;
  background-color: white;
  margin: 0;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;  
}

.claim-list {
  padding: 0px;
}

.page-title {
  font-size: 1.3em;
  color: #0067C6;
  margin-bottom: 10px;
}

.route-inactive {
  /*blue*/
  color: #0067C6;
}

.logo {
  color: white;
  background: #0067C6;
  padding: 20px 5px;
  font-size: 1.3em;
  text-align: center;
}

.logo > img {
  width: 245px;
  height: 71px; 
}

.welcome-user {
  padding: 15px 15px 0 15px;
  color: darkblue;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.route-active {
  color: #bac6ce;
}

.claim-container {
  background-color: white;
  margin: 30px;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px #e6e4e4;
  position: relative;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.claimitems-container {
  padding: 30px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.claim-description {
  font-size: 1.3em;
}

.claim-description a:hover {
  color: #2B8AE4;
}

.claim-date {
  color: #bac6ce;
}

.page-button {
  float: right;
  background-color: #fc8c1e;
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  margin: 0px 3px;
}

.page-button:hover {
  background-color: #e27e1b;
}

.page-button-green {
  float: right;
  background-color: #54B818;
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  margin: 0px 3px;  
}

.page-button-green:hover {
  background-color: #4aa115;
}

.page-button-blue {
  float: right;
  background-color: #0067C6;
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  margin: 0px 3px;  
}

.page-button-blue:hover {
  background-color: #004c93;
}

.page-button-red {
  float: right;
  background-color: #c40115;
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 10px 15px 10px 15px;
  text-decoration: none;
  margin: 0px 3px;  
}

.page-button-red:hover {
  background-color: #ab0112;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

.approval-authority-row {
  margin-top: 15px;
  height: 15px;
}

.approval-authority-msg {
  float: right;
}

.buttons-row {
  height: 37px;
}

.help-text-row {
  height: 15px;
  padding: 15px 30px;
}

.help-text {
  float: right;
}


/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */
#content {
  min-height: 100vh;
  transition: all 0.3s;
  width: 100%;
  background-color: #eef5fa;
}

#content > div {
  width: 100%;
}


/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important ;
  }
  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  
  #sidebar .sidebar-header h3, #sidebar .CTAs {
    display: none;
  }
  
  #sidebar .sidebar-header strong {
    display: block;
  }
  
  #sidebar ul li a {
    padding: 20px 10px;
  }
  
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right:  0;
    display: block;
  }
  
  #sidebar ul ul a {
    padding: 10px !important;
  }
  
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

/* ---------------------------------------------------
LOADING ELEMENT
----------------------------------------------------- */

.loader {
  border: 10px solid lightgrey; /* Light grey */
  border-top: 10px solid #2683DD; /* Blue */
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
  margin: 30% 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ---------------------------------------------------
MODAL COMPONENT
----------------------------------------------------- */

.react-redux-modal {
  box-sizing: content-box;
}
.react-redux-modal button:focus {
  outline: 0;
}
.react-redux-modal .rrm-holder {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.react-redux-modal .rrm-holder .scroll {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  z-index: 1;
}
.react-redux-modal .rrm-holder .scroll .rrm-content {
  z-index: 1;
  background-color: #fcfcfc;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 0px 20px #333;
  margin: 80px auto;
  overflow: hidden;
}
.react-redux-modal .rrm-holder .scroll .rrm-content.m-small {
  width: 300px;
}
.react-redux-modal .rrm-holder .scroll .rrm-content.m-small .rrm-title h2 {
  width: 140px;
}
.react-redux-modal .rrm-holder .scroll .rrm-content.m-medium {
  width: 500px;
}
.react-redux-modal .rrm-holder .scroll .rrm-content.m-medium .rrm-title h2 {
  width: 340px;
}
.react-redux-modal .rrm-holder .scroll .rrm-content.m-large {
  width: 800px;
}
.react-redux-modal .rrm-holder .scroll .rrm-content.m-large .rrm-title h2 {
  width: 640px;
}
.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  position: relative;
  color: #636c6e;
  box-sizing: content-box;
}
.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title h2 {
  height: 60px;
  padding: 0px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4em;
  margin: 0;
  line-height: 60px;
  float: left;
  box-sizing: content-box;
}
.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title .rr-title-actions {
  width: 120px;
  height: 100%;
  text-align: center;
  float: left;
}
.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title .rr-title-actions button {
  width: 40px;
  height: 40px;
  margin: 10px 8px;
  line-height: 40px;
  position: relative;
  border: 1px solid transparent;
  float: right;
  background-color: transparent;
  text-align: center;
  padding: 0;
  color: #636c6e;
  font-size: 1.2em;
  border-radius: 50%;
}
.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-title .rr-title-actions button:hover {
  color: #4186bf;
  cursor: pointer;
  background-color: rgba(65, 134, 191, 0.1);
  border-color: rgba(65, 134, 191, 0.2);
  box-shadow: 2px 2px 3px #f0f0f0;
}
.react-redux-modal .rrm-holder .scroll .rrm-content .rrm-body {
  color: #636c6e !important;
  width: 100%;
  padding: 20px;
}
.react-redux-modal .rrm-holder .rrm-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(50, 58, 68, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.modal-buttons-container {
  height: 35px;
}

/* ---------------------------------------------------
DROPDOWN COMPONENT
----------------------------------------------------- */

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: grey;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  margin: 20px 0px;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

.text-help {
  color: red;
}

.receipt-img {
  max-width: 50px;
}

.reports-check {
  text-align: center;
  font-size: 1.3em;
}

.reports-check input[type=checkbox] {
  width:1.1em; 
  height:1.1em;
  margin-right: 2px;
}

.reports-filter-container {
  padding: 30px; 
}

.reports-filter-row {
  text-align: center;
}

.reports-search {
  font-color: lightgrey;
  max-width: 200px;
  display: inline-block;
  margin: 5px 10px 5px 10px;
}

input:focus {outline: none; }

.approval-limits-filter-row {
  margin-left: -75px;
  padding: 30px 30px 0 30px;
  text-align: center;
}

.approval-limits-search {
  font-color: lightgrey;
  max-width: 200px;
  display: inline-block;
  margin: 5px 10px 5px 10px;
}

.form-check {
  display: inline-block;
  margin: 0 20px 0 20px;
}

.form-check-input {
  margin-right: 5px !important;
}

.koi-entry-container {
  background-color: white;
  border-radius: 5px;
  margin: 30px;
  padding: 5px;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
}

.koi-entry {
  background-color: #eef5fb;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.koi-entry-header {
  font-weight: bold;
  margin-right: 10px;
}

.padded-buttons-row {
  height: 37px;
  padding: 0px 30px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: white;
  background-color: #0366c7;
  border: 1px solid white;
  border-bottom-color: transparent;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #bcd7ec;
    border-color: transparent;
}

.nav-tabs {
  margin: 3px 5px 3px 0px;
  border-bottom-color: white;
}

.file-generator-container {
  text-align: right;
}

.file-generator-container button {
  background-color: #0067C6;
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 10px 15px 10px 15px;
  box-shadow: 2px 2px #0067C6;
  text-decoration: none;
  margin: 15px;
  margin-right: 40px;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2em;
  color: red;
  margin: 5px;
  cursor: pointer;
  position: absolute;
}